.nav-container {
  .nav__element {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .link--text {
    padding: 0;
  }

  .link {
    height: 100%;
  }

  [class*="icon"] {
    padding: 10px;
  }

  hr {
    height: 100%;
    margin: 0;
  }
}
