.payout {
  .table {
    display: flex;
    flex-direction: column;
  }

  table {
    display: none;
    transition: all 0.5s 0s ease-in-out;
  }

  .activate-table {
    display: block !important;
    transition: all 0.5s 0s ease-in-out;
  }
}