.personaldata {
  .element {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .form--contact, .form--personal, .form--password, .form--wallet {
    display: flex;
    justify-content: center;
  }

  .form--submit {
    display: flex;
    justify-content: center;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    > * {
      padding: 10px;
      width: 35%;
    }
    
    .border-bottom {
      width: 100%;
    }

    .button {
      width: 10%;
    }
  }
}