.general {
  .chart {
    width: 500px;

    .chart-js {
      position: relative;
      max-width: 100%;
      overflow: auto;
    }
  }

  .statistics {
    display: flex;
    
    .stats__element {
      display: flex;
      flex-direction: column;
      margin-right: 50px;
      align-items: stretch;
    }

    .visits, .FTD, .net, .turnover {
      display: flex;
      justify-content: space-between;

      span {
        margin: 10px;
      }

      span:not(:last-of-type) {
        margin-right: 100px;
      }
    }
  }
}