/* Colors */

$brand-main-color: #191c1d;

$text-main-color: #666869;
$text-secondary-color: #74b9ff;

$background-color-one: #b2bec3;
$background-color-two: #fff;

$hover-color: #3f3f3f;

$button-color-one: #F58220;
$button-color-two: #fff;

/* Font sizes */
$text-font-size: 16px;

/* Fonts */
$brand-font: 'Noticia Text', serif;
$text-font: "Open Sans", Helvetica, Arial;

/* Box shadow */

$box-shadow: 5px 5px 20px 0px $background-color-one;