.popup-link {
  .popup-link__scheme {
    .element {
      display: flex;
      justify-content: space-between;
      margin: 5px 20px;
    }

    .company {
      input {
        margin-bottom: 15px;
        width: 100%;
      }
    }
  }

  .table_wrapper {
    .wrapper-text {
      margin: 5px 30px;
    }

    .popup-link__table {
      padding: 10px 0 10px 30px;
      display: block;
      width: 100%;
      overflow-x: auto;
      height: 300px;

      table {
        width: 100%;
        max-width: 100%;
      }

      tr {
        padding: 20px 0;
      }

      td {
        padding: 10px 0;
        cursor: pointer;

        &:hover {
          background-color: $background-color-one;
        }

        &:hover [class*="icon"] {
          opacity: 1;
        }
      }

      [class*="icon"] {
        margin-left: 55%;
        opacity: 0;
      }
        
      input {
        margin: 3px;
      }
    }
  }
}